<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.mvvmretro">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MvvmRetro">
        <activity android:name=".fcm.FcmActivity">

        </activity>
        <activity android:name=".lottieanimation.LottieActivity"></activity>
        <activity android:name=".snackbar.SnackActivity" />
        <activity android:name=".chips.ChipsActivity" />
        <activity android:name=".deeplink.DeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.nrb.org.np"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".intents.DataActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.nrb.org.np"
                    android:pathPrefix="/categories/faqs"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".intents.MainActivity" />
        <activity android:name=".recyclerview.heterogeneous.MainActivity" />
        <activity android:name=".recyclerview.normarecyclerview.RegularRecyclerViewActivity" />
        <activity android:name=".recyclerview.ChatActivity" />
        <activity android:name=".alarmmanager.DetailActivity" />
        <activity android:name=".alarmmanager.DailyNotifyActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".dialogs.DialogsActivity" />
        <activity android:name=".pagination.PaginationActivity" />
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".pdfdownload.PdfActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pdfdownload.WebActivity" />

        <receiver android:name=".alarmmanager.NotificationReceiver" />

        <service
            android:name=".fcm.FcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_200" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="1" />
    </application>

</manifest>